body,
html {
  width: 100%;
  height: 100%;
  text-align: center;
}

body {
  font-family: 'Source Sans Pro';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.pf-header{ 
  /* background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("img/bg-masthead.jpg"); */
  /* background-image: url("./img/bg-masthead.jpg");  */
  
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem; 
  background-image: url("./img/bg-masthead.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


@media (min-width: 992px) {
  .pf-header {
    height: 100vh;
  }
  .pf-header h1 {
    font-size: 5.5rem;
  }
}

.pf-header h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
  color: white;
}

.btn-xl {
  padding: 1.3rem 2.7rem;
}

section{
  padding-top: 4rem;
  padding-bottom: 4rem; 
  /* background-color: #95A5BE; */
  background-color: #3D567F;
}
 
.bg-white{
  background-color: white;
}

.experience-card-deck{
  margin-bottom: 3rem;
}

.experience-card-image{
  padding-top: 2rem;
  width: 50%;
  height: auto;
}

.service-icon {
  background-color: #fff;
  color: #3D567F;
  height: 7rem;
  width: 7rem;
  display: block;
  line-height: 7.5rem;
  font-size: 2.25rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.container-prof-pic{
  margin: 0%;
  width: 30%;
  height: 50%;
  margin-bottom: 2rem;
}

.prof-pic{
  width: 30%;
  height: auto;
}