body,
html {
  width: 100%;
  height: 100%;
  text-align: center;
}

body {
  font-family: 'Source Sans Pro';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.h2-title{
  margin-bottom: 3rem;
}

.hero{
  position: absolute;
}

.pf-header-bg{  
  background-image: url("./img/bg-masthead.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 8rem;
  padding-bottom: 8rem; 
}

.pf-header{  
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  background-color: #3D567F;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.particles-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@media (min-width: 992px) {
  .pf-header {
    height: 100vh;
  }
  .pf-header h1 {
    font-size: 5.5rem;
  }
}

.pf-header h1 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  color: white;
} 

.btn-xl {
  padding: 1.3rem 2.7rem;
}

section{
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #3D567F;
  min-height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
}

footer{ 
  text-align: center;
  padding-bottom: 2rem;
  background-color: #3D567F;
  margin-bottom: 0rem;
}
 
.background-primary{
  background-color: rgba(242,242,242,0.7);
}

.experience-card-deck{
  margin-bottom: 3rem;
}

.exp-img-container{
  padding: 1rem 1.5rem;
  box-sizing: content-box;
}


.container-prof-pic{
  margin: 0%;
  width: 60%;
  height: 50%;
  margin-bottom: 2rem;
}

.skill-icon-container{
  margin-bottom: 1rem;
} 

.portfolio-card-deck{
  margin-bottom: 3rem;
}

.about-content-row{
  justify-content: center;
}

.about-content{
  max-width: 30rem;
  margin: 0;
}

.footer{
  padding-top: 2rem; 
}

.social-link {
  display: block;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 1.5rem;
  background-color: #3D567F;
  transition: background-color 0.15s ease-in-out;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}


.experience-card-image{
  width: 100%;
}

.exp-card-text{
  margin: 1rem 3rem;
  text-align: center;
}

.service-icon {
  background-color: #fff;
  color: #3D567F;
  height: 7rem;
  width: 7rem;
  display: flex;
  line-height: 7.5rem;
  font-size: 2.25rem;
  box-shadow:  0 0 3px  rgba(0, 0, 0, 0.1); 
  justify-content: center;
  align-content: center;
  align-items: center;
}

.service-icon img{
  width: 35%;
  fill: #3D567F;
  color: #3D567F;
}

.skill-icon-row{
  display: flex;
  justify-content: space-evenly;
}

.skill-icon-row .skill-icon-container{
  flex-basis: 100%;
  width: 100vh;
  margin-bottom: 1.5rem;
}   

.prof-pic{
  width: 60%;
  height: auto;
}

@media (min-width: 992px){ 
  .pf-header {
    height: 100vh;
  }
  .pf-header h1 {
    font-size: 5.5rem;
  }

  .exp-img-container{
    padding: 3rem 3.5rem 0 3rem;
    box-sizing: content-box;
  }
}


@media(min-width: 425px){
  .skill-icon-row .skill-icon-container{
    flex-basis: 50%; 
  }   
}

@media(min-width: 768px){
  .skill-icon-row .skill-icon-container{
    flex-basis: 25%; 
  }   
  
  .prof-pic{
    width: 30%;
  }
    
  .pf-header h1 {
    font-size: 4rem; 
  } 

  .experience-card-deck .card{
    width: 30rem;
  }
}

@media(min-width: 1024px){
  .skill-icon-row .skill-icon-container{
    flex-basis: 10%; 
  }   
  
  .pf-header{
    background-attachment: fixed;
  }
}
