body,
html {
  width: 100%;
  height: 100%;
  text-align: center;
}

body {
  font-family: 'Source Sans Pro';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.h2-title{
  margin-bottom: 3rem;
}

.pf-header{  
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem; 
  background-image: url("./img/bg-masthead.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 992px) {
  .pf-header {
    height: 100vh;
  }
  .pf-header h1 {
    font-size: 5.5rem;
  }
}

.pf-header h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
  color: white;
} 

.btn-xl {
  padding: 1.3rem 2.7rem;
}

section{
  padding-top: 4rem;
  padding-bottom: 4rem; 
  /* background-color: #95A5BE; */
  background-color: #3D567F;
  min-height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
}

footer{ 
  text-align: center;
  padding-bottom: 2rem;
  background-color: #3D567F;
  margin-bottom: 0rem;
}
 
.background-primary{
  background-color: rgba(242,242,242,0.7);
}

.experience-card-deck{
  margin-bottom: 3rem;
}
/* 576 767 */

.exp-img-container{
  padding: 1rem 1.5rem;
  box-sizing: content-box;
  height: 5rem; 
}

@media (min-width: 992px){ 
  .exp-img-container{
    padding: 3rem 3.5rem;
    box-sizing: content-box;
    height: 5rem; 
  }
}

.experience-card-image{
  /* padding-top: 2rem;
  width: 50%;
  height: auto; */
  width: 100%;
}

.exp-card-text{
  margin: 1rem 3rem;
  text-align: center;
}

.service-icon {
  background-color: #fff;
  color: #3D567F;
  height: 7rem;
  width: 7rem;
  display: flex;
  line-height: 7.5rem;
  font-size: 2.25rem;
  box-shadow:  0 0 3px  rgba(0, 0, 0, 0.1); 
  justify-content: center;
  align-content: center;
  align-items: center;
}

.service-icon img{
  width: 35%;
  fill: #3D567F;
  color: #3D567F;
}

.skill-icon-row{
  display: flex;
  justify-content: center;
}

.skill-icon-row .skill-icon-container{
  flex-basis: 20%;
  margin-bottom: 1.5rem;
}

.container-prof-pic{
  margin: 0%;
  width: 30%;
  height: 50%;
  margin-bottom: 2rem;
}

.skill-icon-container{
  margin-bottom: 1rem;
}

@media(min-width:992){
  .skill-icon-container{
    margin-bottom: 0rem;
  }
}

.portfolio-card-deck{
  margin-bottom: 3rem;
}

.prof-pic{
  width: 30%;
  height: auto;
}

.about-content-row{
  justify-content: center;
}

.about-content{
  max-width: 30rem;
  margin: 0;
}

.footer{
  padding-top: 2rem; 
}

.social-link {
  display: block;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 1.5rem;
  background-color: #3D567F;
  transition: background-color 0.15s ease-in-out;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}